<link rel="stylesheet" href="/css/chat_box.css">

<body>
    <div class="container">
        <div class="message right">Krishna: hey how are you ahgoaog an aovh adfa voafa goah v</div>
        <div class="message left">Rohan: hello</div>

        <form action="#" id="send-container">
            <input type="text" name="messageInp" id="messageInp" placeholder="Type a message">
            <button class="btn" type="submit">Send</button>
        </form>

    </div>



</body>