<link rel="stylesheet" href="/css/reset_password.css">
<body>
    <div id="view-form">
        <form action="/users/forgotten-password" method='post' id="form">
            <input type="email" name="email" placeholder="Enter your registered Email" required>
            <button id="btn">Reset Now!</button>
        </form>
    </div>
</body>