.container{
    max-width: 955px;
    border: 2px solid black;
    padding: 4px;
    margin: auto;
    height: 60vh;
    overflow-y: scroll;
    position: relative;
}
.message{
    background-color: #e7e8e9;
    padding: 10px;
    margin: 17px 12px;
    max-width: 30%;
    border: 2px solid black;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}

#send-container {
    display: flex;
    justify-content: space-between;
    position: absolute; 
    bottom: 0; 
    width: 98%;
    padding-bottom: 4px;
}

#messageInp{
    padding: 2px;
    font-size: medium;
    width: 92%;
}


