#container{
    max-width: 955px;
    border: 2px solid black;
    padding: 4px;
    margin: auto;
    height: 60vh;
    overflow-y: scroll;
    position: relative;
}
.message{
    background-color: #e7e8e9;
    padding: 10px;
    margin: 17px 12px;
    max-width: 30%;
    border: 2px solid black;
    border-radius: 10px;
}

.left{
    float: left;
    clear: both;
}

.right{
    float: right;
    clear: both;
}


.send-message-container{
    display: flex;
    margin-top: 2rem;
    justify-content: space-around;

}

#send-container{
    display: flex;
    width: 50%;
    justify-content: space-between;

}

#messageInp{
    padding: 2px;
    font-size: medium;
    width: 90%;
    border-radius: 5px;
}

.username{
    font-size:12px;
    margin-right: 2rem;
}

.message-content{
    font-size: medium;
    font-weight: bold;
}


